<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
</head>

<body>
    <form action="/userChangePass" method='post'>
        <input type="password" name="prevPass" placeholder="Previous password">
        <input type="password" name="newPass" placeholder="New password">
        <button>Change password</button>
    </form>
    <form action="/userProfile" method='post'>
        <button>Log out</button>
    </form>

</body>

</html>